
.calculator{
    width: 40vw;
    height: 60vh;
    background-color: #292b2e;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.screen{
    width: 100%;
    height: 10%;
    background-color: aliceblue;

}
.inputs button{
    width: 20%;
    height: 40%;
    }

.inputs{
    width: 100%;
    height: 70%;
    display: flex;
    padding-top: 1%;
}

.equals {
    width: 50%;
    background-color: rgb(243, 61, 29);
  }
.num-buttons{
display: flex;
flex-wrap: wrap;
gap: 1%;
width: 100%;
height: 50%;
justify-content: space-between;

}

