:root{
    --xpblue : #3B77BC;
    --xpgreen : #81C046;
    --xplightble : #5c98dc;
    --xpbeige : #EBEBEE;
    --secondaryfontcolor: #C9C7BA;
    --xpred : #FF3300;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App{
    height: 100vh;
    width: 100vw;
    background-image: url("background.jpg");
   display: flex;
   background-repeat: no-repeat;
   background-size: cover;
}

.TaskBar{
    background-color: var(--xpblue);
    height: 5vh;
    width: 100vw;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    box-shadow: inset 2px 2px 0.5px rgb(0, 0, 0, 0.3) ;
}

.StartMenuButton{
    background-color:var(--xpgreen);
    box-shadow: inset 0px 0px 1px 2px rgb(0, 0, 0, 0.5) ;
    width: 8rem;
    height:100%;
    text-align: center;
    display: flex;
    border-radius: 0 1.5rem 0 0;
}

.StartMenuButton .title{
   width: 100%;
   align-self: center;
   color: white;
   font-size: 1.3rem;
}

.TaskBarEnd{
    align-self: flex-end;
    width: 99%;
    height: 100%;
    color: white;
    background-color: var(--xplightble) ;
    border-left: rgba(0, 0, 0, 0.464) solid 0.1rem;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.TaskBarEnd .taskbarend-icon{
    align-self: flex-end;
    justify-self: center;
    
    padding: 0.5rem;
}

.StartMenu{
    position: absolute;
    width: 20rem;
    height: 30vh;
    background-color: antiquewhite;
    bottom: 15vh;
    
}

.StartMenu-header{
    width: 100%;
    height: 10vh;
    background-color: var(--xpblue);
    box-shadow: inset 0px 4px 9px white ;
    display: flex;
}

.StartMenu-DP{
    width: 4rem;
    height: 4rem;
    background-color: azure;
    background-image: url("/public/avatar.png");
    background-repeat:no-repeat ;
    background-size: cover;
    border-radius: 1rem;
    align-self: center;
    margin-left: 1rem;
}

.StartMenu-list{
  
    list-style: none;
    height: 30vh;
    background-color: var(--xpblue);
}

.StartMenu-list-item{
    padding-left: 1rem;
    height: 9vh;
   
    display: flex;
    flex-direction: row;
    
   
}

.StartMenu-list-item a{
    text-decoration: none;
}

.StartMenu-list-item .list-item-wrapper{
    align-self: center;
    display: flex;

    color: azure;
}

.StartMenu-list-item img{
height: 5vh;
}

.StartMenu-list-item p{
    align-self: center;
    margin-left: 1vw;
}

.StartMenu-list-item:hover{
    background-color: var(--xplightble);
}

.ProgramList{
position: absolute;
margin-left: 20vw;
width: 20vw;
bottom: -7vh;
background-color: var(--xpblue);
height: 20vh;
box-shadow: 2px 2px 0.5px rgb(0, 0, 0, 0.3) ;
border: #C9C7BA solid 1px;

}

.ProgramList li{
    padding-left: 1vw;
    list-style: none;
    
}

.Window{
    width: 60vw;
    height: 60vh;
    background-color: aliceblue;
    position: absolute;
    margin: 10% 20% 5%;
}

.top-menu{
    height: 5vh;
    width: 100%;
    background-color: #3B77BC;
    display: flex;
    justify-content: space-between;
  
  
}

.inner-menu{
    width: 100%;
    height: 15vh;
    background-color: var(--xpbeige);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner-menu-container{
    height: 9vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 1vw;
    color: #C9C7BA;
    padding-bottom: 1vh;
}

.inner-menu-container p{
align-self: center;
}

.inner-wrapper {
    padding: 1%;
    
}
.inner-wrapper p {
    margin-bottom: 2%;
}

.inner-wrapper .icons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1vw;
    
}
.WindowIcon{
    align-self: center;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
   
}

.WindowIcon img{
    height:9vh;
    align-self: center;
}

.search-bar{
    position: relative;
    width: 50vh;
    height: 3vh;
    background-color: azure;
    
}



.search-bar-container{
    display: flex;
}

.search-bar-container p {
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--secondaryfontcolor);
}
.search-bar p{
    color: black;
}

.top-menu button{
    width: 30%;
    height: 80%;
    align-self: center;
    margin-left: .2rem;
    color: #EBEBEE;
    border: 0;
    border-radius: 15%;
}

.top-menu-buttons{

    
   width: 15%;
   height: 100%;
   display: flex;
   justify-content: center;
}

.top-menu .close{
    background-color: var(--xpred);
}

.top-menu .minimise{
    background-color: var(--xplightble);
}

.top-menu .maximise{
    background-color: var(--xplightble);
}

.top-menu h5{
    
    width: 20%;
    align-self: center;
    margin-left: 1%;
    color: #EBEBEE;
}
.TaskBarActivity{
    display: flex;
}
.activity{
    width: 13vw;
    height: 60%;
    color: #C9C7BA;
    background-color: var(--xplightble);
    align-self: center;
    padding-left: 1rem;
    padding-top: .5rem;
    box-shadow: inset 1px 2px 2px rgb(0, 0, 0, 0.5);
}

.Widget{
    position: absolute;
    height: fit-content;
    width: 20vw;
    background-color: #292b2e;
    right: 1%;
    top: 2%;
    border-radius: 5%;
    padding: 2%;
    color: #C9C7BA;
    box-shadow: inset 0px 3px 5px #C9C7BA;
    
    z-index: 0;
}

.Widget .city{
    text-align: center;
    color: #C9C7BA;
    
}

.Widget .icon{
    width: 90px;
}

.Widget .weather-info{
    display: flex;
    text-align: center;
}

.Widget .weather-info p{
    align-self: center;
}

.Widget .weather-info .icon{
    align-self: center;
}

.Loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.Loading .gif{
    width: 30%;

    align-self: center;
}

.Loading p{
    padding: 5%;
    align-self: center;
}
.Desktop{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 95%;
    padding-top: 2vh;
    
}

.Desktop .Tagline{
    position: absolute;
    bottom: 2%;
    right: 2%;
    color: #EBEBEE;
    font-size: larger;
}

.DesktopIcon{
    
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #EBEBEE;
}

.DesktopIcon img{
    width: 4rem;
    align-self: center;
}

.DesktopIcon a{
    text-decoration: none;
    color: black;
}
.DesktopIcon:hover{
    background-color: var(--xplightble);
    opacity: 0.8;
}

.HeaderText{

    position: absolute;
    height: 10vh;
    width: 40vw;
    align-self: center;
    color:#ffffff;
    font-style: italic;
    margin-top: 15%;
    text-shadow: 2px 2px #292b2e;



}

@media only screen and (max-width: 600px) {


.App{
    height: 100vh; 
    width: 100vw;
    background-image: url("background.jpg");
   display: flex;
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
}
    
    .HeaderText{

        position: absolute;
        height: 10vh;
        width: 90vw;
        align-self: center;
        color:#ffffff;
        font-size: small;
        font-style: italic;
        top: 20%;
        text-shadow: 2px 2px #292b2e;
    }
    
    .Widget{
        position: absolute;
        height: fit-content;
        width: 90vw;
        background-color: #292b2e;
        right: 1%;
        top: 0%;
        border-radius: 5%;
        padding: 2%;
        color: #C9C7BA;
        box-shadow: inset 0px 3px 5px #C9C7BA;
        
        z-index: 0;
    }

    .DesktopIcon{
        visibility: hidden;
    }
    
    
    .Desktop .Tagline{
        position: absolute;
        bottom: 10%;
        right: 2%;
        color: #EBEBEE;
        font-size: larger;
    }

    .TaskBar{
        background-color: var(--xpblue);
        height: 5vh;
        width: 100vw;
        align-self: flex-end;
        display: grid;
        grid-template-columns: 1fr 1fr 5fr;
        box-shadow: inset 2px 2px 0.5px rgb(0, 0, 0, 0.3) ;
    }
    
    .StartMenuButton{
        background-color:var(--xpgreen);
        box-shadow: inset 0px 0px 1px 2px rgb(0, 0, 0, 0.5) ;
        width: 8rem;
        height:5vh;
        text-align: center;
        display: flex;
        border-radius: 0 1.5rem 0 0;
    }

    .TaskBarEnd{
        align-self: flex-end;
        width: 99%;
        height: 5vh;
        color: white;
        background-color: var(--xplightble) ;
        border-left: rgba(0, 0, 0, 0.464) solid 0.1rem;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    
    .top-menu-buttons{

    
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
     }


     .TaskBarEnd{
        align-self: flex-end;
        width: 99%;
        height: 100%;
        color: white;
        background-color: var(--xplightble) ;
        border-left: rgba(0, 0, 0, 0.464) solid 0.1rem;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    
    .TaskBarEnd .taskbarend-icon{
        align-self: flex-end;
        justify-self: center;
        padding: 0.5rem;
    }
  }
